.page {
  padding: 12 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
  cursor: pointer;
  max-width: 505px;
  height: 50px;
}

.input {
  max-width: 505px;
  width: 100%;
}